<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"/>
		<link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Salud animal</title>
  </head>
  <body>
    <main class="login-design">
      <!-- <div class="waves">
        <img src="../img/logo2.png" alt="">
		<h1>Salud Animal</h1>
      </div> -->
      <div class="login">
        <div class="login-data">
          <img src="../img/logo.jpg" alt="">
          <h1>Inicio de sesión</h1>
					<form action="#" class="login-form">
						<div class="input-group">
							<label class="input-fill">
								<input type="text", name="username", id="username", required/>
								<span class="input-label">Nombre de usuario</span>
								<i class="fas fa-envelope"></i>
							</label>
						</div>
						<div class="input-group">
							<label class="input-fill">
								<input type="password", name="password", id="password", required/>
								<span class="input-label">Contraseña</span>
								<i class="fas fa-lock"></i>
							</label>
						</div>
						<a href="#">¿Aún no tienes cuenta?</a>
						<input type="submit", value="Iniciar Sesión", class="btn-login", id="btn-login">
					</form>
        </div>
      </div>
    </main>
	<script src="../public/login.js"></script>
  </body>
</html>